// heading text
.h1 {
    font-size: 3.5rem;
}
.h2 {
    font-size: 3rem;
}
.h3 {
    font-size: 2.5rem;
}
.h4 {
    font-size: 2rem;
}
.h5 {
    font-size: 1.5rem;
}
.h6 {
    font-size: 1rem;
}
// normal text
.lead {
    font-size: 1.25rem;
}
.text-muted {
    font-size: 1rem;
    color: #6c757d !important;
}
// bigger headings
.display-1 {
    font-size: 6rem;
  @media (max-width: 576px) {
    font-size: 3.5rem;
  }
}
.display-2 {
    font-size: 5.5rem;
  @media (max-width: 576px) {
    font-size: 3rem;
  }
}
.display-3 {
    font-size: 4.5rem;
  @media (max-width: 862px) {
    font-size: 2.5rem;
  }
}
.display-4 {
    font-size: 3.5rem;
  @media (max-width: 576px) {
    font-size: 2rem;
  }
}
.display-5 {
    font-size: 2.5rem;
}
.display-6 {
    font-size: 1.5rem;
}

// font colors
.text-primary {
    color: #0d6efd !important;
}
.text-light-blue {
    color: #1f6bff !important;
}
.text-info {
    color: #0dcaf0 !important;
}